@page
@model RegisterModel
@using Analog_Clock_App.Models

@{
    ViewData["Title"] = "Register";
}

<div class="py-4">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row form-group">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-body px-lg-5 pt-4">
                    <form autocomplete="off" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h3 class="col-12 text-success text-center py-4">
                            <strong>Register as a new User</strong>
                        </h3>
                        <hr />

                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Name" placeholder="Complete Name..."></label>
                            <input asp-for="Input.Name" placeholder="Complete Name" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="mb-1 form-control" maxlength="50" required />

                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" placeholder="youremail@provedor.com" type="email" class="mb-1 form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="py-2 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> +55</span>
                            </div>
                            <input asp-for="Input.PhoneNumber" type="text" placeholder="(xx) xxxxx-xxxx" class="form-control" id="telefone" name="telefone" maxlength="5" required />
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Birthday"></label>
                            <input asp-for="Input.Birthday" class="form-control" />
                            <span asp-validation-for="Input.Birthday" class="text-danger"></span>
                        </div>

                        <div class="container">

                            <div class="form-group">
                                <label asp-for="Input.ApplicationUserAddress.PostalCode"></label>
                                <input asp-for="Input.ApplicationUserAddress.PostalCode" type="text" placeholder="Postal Code" id="postalcode" class="form-control" />
                                <span asp-validation-for="Input.ApplicationUserAddress.PostalCode" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.ApplicationUserAddress.StreetAddress"></label>
                                <input asp-for="Input.ApplicationUserAddress.StreetAddress" type="text" placeholder="Street Address" class="form-control" />
                                <span asp-validation-for="Input.ApplicationUserAddress.StreetAddress" class="text-danger"></span>
                            </div>

                        </div>



                        <div class="form-group">
                            <label asp-for="Input.ApplicationUserAddress.Neighborhood"></label>
                            <input asp-for="Input.ApplicationUserAddress.Neighborhood" type="text" placeholder="Neighborhood" class="form-control" />
                            <span asp-validation-for="Input.ApplicationUserAddress.Neighborhood" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ApplicationUserAddress.City"></label>

                            <input asp-for="Input.ApplicationUserAddress.City" type="text" placeholder="City" class="form-control" />
                            <span asp-validation-for="Input.ApplicationUserAddress.City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ApplicationUserAddress.State"></label>
                            <input asp-for="Input.ApplicationUserAddress.State" type="text" placeholder="State" class="form-control" />
                            <span asp-validation-for="Input.ApplicationUserAddress.State" class="text-danger"></span>
                        </div>            <div class="form-group">
                            <label asp-for="Input.ApplicationUserAddress.Number"></label>
                            <input asp-for="Input.ApplicationUserAddress.Number" type="text" placeholder="Number" class="form-control" />
                            <span asp-validation-for="Input.ApplicationUserAddress.Number" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ApplicationUserAddress.Ibge"></label>
                            <input asp-for="Input.ApplicationUserAddress.Ibge" type="text" placeholder="Ibge" class="form-control" />
                            <span asp-validation-for="Input.ApplicationUserAddress.Ibge" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ApplicationUserAddress.DDD"></label>
                            <input asp-for="Input.ApplicationUserAddress.DDD" type="text" placeholder="DDD" class="form-control" />
                            <span asp-validation-for="Input.ApplicationUserAddress.DDD" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" placeholder="Password" type="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase letter at the biginning and lowercase letter, and at least 8 or more characters" required />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" placeholder="Confirm Password" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="py-2">
                            <button type="submit" class="btn btn-success form-control">Register</button>
                        </div>
                    </form>
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <p>
                            By clicking <em>Register</em> you agree to our <a href="" target="_blank"> terms of service </a>
                        </p>
                        <hr />

                        <div class="row">
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <div class="col-6">
                                        @if (provider.Name.ToLower().Contains("facebook"))
                                        {
                                            <button type="submit" class="btn btn-block facebook-btn form-control"
                                                    name="provider" value="@provider.Name"
                                                    title="Log in using your @provider.DisplayName account">
                                                <i class="fab fa-facebook-square"></i> @provider.DisplayName
                                            </button>
                                        }
                                        else
                                        {
                                            @if (provider.Name.ToLower().Contains("google"))
                                            {
                                                <button type="submit" class="btn btn-block google-btn form-control"
                                                        name="provider" value="@provider.Name"
                                                        title="Log in using your @provider.DisplayName account">
                                                    <i class="fab fa-google"></i> @provider.DisplayName
                                                </button>
                                            }
                                            else
                                            {
                                                <button type="submit" class="btn btn-primary" name="provider"
                                                        value="@provider.Name"
                                                        title="Log in using your @provider.DisplayName account">
                                                    @provider.DisplayName
                                                </button>
                                            }
                                        }
                                    </div>

                                }
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

<script type="text/javascript">
    $("#telefone").mask("(00) 00000-0000");
    $("#postalcode").mask("00000-000");
</script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}